.weather {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      cornflowerblue,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1685477985/piweather/landscape_enca8w.jpg");
  background-position: center;
  background-size: cover;
  background-position: center center;
}

.weather-detailed {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      cornflowerblue,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1685477985/piweather/landscape_enca8w.jpg");
  background-position: center;
  background-size: cover;
  background-position: center center;
}

#weather-fade {
  animation: weatherFade linear 0.5s;
}

.search {
  position: absolute;
  top: 20px;
  left: 150px;
  text-align: center;
  animation: appear linear 1s;
}

.search input {
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.search-button {
  cursor: pointer;
  position: relative;
  left: -73px;
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  box-shadow: 3px 3px 3px 1px #0000004b;
  background-color: rgb(100, 148, 237);
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding-bottom: 100px;
}

.weather-full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extension {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.weather-details {
  margin-top: 50px;
  width: 30%;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(245, 245, 245, 0.274);
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 3%;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.hide-details {
  display: none;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.bold {
  font-weight: 600;
}

.empty {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weather-top {
  width: 300px;
  height: 300px;
  z-index: 1;
  animation: appear linear 1s;
}

#temp-feels {
  width: 190px;
  height: 190px;
  position: absolute;
  bottom: 250px;
  right: 380px;
  z-index: 2;
  animation: appear linear 2s;
}

#humidity {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: 200px;
  left: 450px;
  z-index: 3;
  animation: appear linear 2s;
}

#wind {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 150px;
  right: 480px;
  z-index: 3;
  animation: appear linear 2s;
}

.extend-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes weatherFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .search {
    position: absolute;
    top: 15px;
    left: 100px;
  }

  .search input {
    font-size: 15px;
  }

  .search-button {
    font-size: 15px;
    left: -58px;
  }

  .circle p {
    font-size: 20px;
  }

  .circle h1 {
    font-size: 30px;
  }

  .weather-container {
    padding-bottom: 50px;
  }

  #weather-top {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 100px;
  }

  #temp-feels {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 230px;
    right: 20px;
  }

  #humidity {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 180px;
    left: 50px;
  }

  #wind {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 140px;
    right: 50px;
  }

  .extension {
    width: 100%;
  }

  .weather-details {
    margin-top: 30px;
    width: 75%;
  }

  .weather-details p {
    font-size: 20px;
  }

  .extend-link {
    font-size: 12px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .search {
    position: absolute;
    top: 20px;
    left: 120px;
  }

  .search input {
    font-size: 18px;
  }

  .search-button {
    font-size: 18px;
    left: -67px;
  }

  .circle p {
    font-size: 25px;
  }

  .circle h1 {
    font-size: 40px;
  }

  .weather-container {
    padding-bottom: 50px;
  }

  #weather-top {
    width: 220px;
    height: 220px;
    position: absolute;
    left: 280px;
  }

  #temp-feels {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 200px;
    right: 160px;
  }

  #humidity {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 180px;
    left: 230px;
  }

  #wind {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 110px;
    right: 210px;
  }

  .extension {
    width: 50%;
  }

  .weather-details {
    margin-top: 30px;
    width: 50%;
  }

  .weather-details p {
    font-size: 25px;
  }

  .extend-link {
    font-size: 12px;
  }
}
