.weather {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      cornflowerblue,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1685477985/piweather/landscape_enca8w.jpg");
  background-position: center;
  background-size: cover;
  background-position: center center;
}

.weather-detailed {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      cornflowerblue,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1685477985/piweather/landscape_enca8w.jpg");
  background-position: center;
  background-size: cover;
  background-position: center center;
}

#weather-fade {
  animation: weatherFade linear 0.5s;
}

.search {
  position: absolute;
  top: 20px;
  left: 150px;
  text-align: center;
  animation: appear linear 1s;
}

.search input {
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.search-button {
  cursor: pointer;
  position: relative;
  left: -50px;
  padding: 4px;
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  box-shadow: 3px 3px 3px 1px #0000004b;
  background-color: cornflowerblue;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding-bottom: 100px;
}

.weather-full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-details {
  margin-top: 50px;
  width: 30%;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(245, 245, 245, 0.274);
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 3%;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.hide-details {
  display: none;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.bold {
  font-weight: 600;
}

.empty {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: whitesmoke;
}

#weather-top {
  width: 300px;
  height: 300px;
  z-index: 1;
  animation: appear linear 1s;
}

#temp-feels {
  width: 190px;
  height: 190px;
  position: relative;
  bottom: 0;
  right: 40px;
  z-index: 2;
  animation: appear linear 2s;
}

#humidity {
  width: 130px;
  height: 130px;
  position: relative;
  bottom: -50px;
  left: 50px;
  z-index: 3;
  animation: appear linear 2s;
}

#wind {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: -120px;
  right: 280px;
  z-index: 3;
  animation: appear linear 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes weatherFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
