.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  animation: appear linear 0.3s;
}

.home-background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      cornflowerblue,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1685477985/piweather/landscape_enca8w.jpg");
  background-position: center;
  background-size: cover;
  background-position: center center;
  animation: appear linear 0.5s;
}

.logo {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}

.logo-img {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.home-bottom {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  height: 20%;
  margin-top: 30px;
}

#animate-logo {
  animation: logoFade linear 1s;
}

#animate-home {
  animation: homeFade linear 1s;
}

#after-animate-logo {
  height: 100px;
  background-color: transparent;
}

#after-animate-home {
  background-color: transparent;
}

#after-animate-img {
  top: -15px;
  left: -630px;
  width: 70px;
  height: 70px;
}

#animate-img {
  animation: imgFade linear 1s;
}

#animate {
  animation: fade linear 1s;
}

#after-animate {
  opacity: 0;
}

@keyframes logoFade {
  0% {
    height: 70vh;
    background-color: cornflowerblue;
  }
  100% {
    height: 100px;
    background-color: transparent;
  }
}

@keyframes imgFade {
  0% {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
  }
  100% {
    top: -15px;
    left: -630px;
    width: 70px;
    height: 70px;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes homeFade {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
